<div class="row">
  <div class="col-12">

    {{#each model.array as |fav|}}

      <article class="blog-post">
        <div class="row">
          <div class="col-3">
            <img class="fav-character" src={{fav.Img}} alt="">
          </div>
          <div class="col-6">
            <h3>{{fav.Title}}</h3>
          </div>
          <div class="col-3">
            {{fav.Body}}
          </div>
        </div>
      </article>

    {{/each}}

  </div>
</div>
