<div class="row">
  <div class="col-12">

    {{#each model.array as |character|}}

      {{character-item Title=character.Title Body=character.Body Img=character.Img}}

    {{/each}}

  </div>
</div>
