<div class="row">
  <div class="col-12">

    {{#each model.data.results as |character|}}

      {{character-item Title=character.name Description=character.description Img=(concat character.thumbnail.path "." character.thumbnail.extension)}}

    {{/each}}

  </div>
</div>
